{% extends 'base.html' %}
{% block title %}Reservation{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<form method="POST">
    <div class="container bg-light mt-5 bg-opacity-50">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center">Book a Table</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mt-3">Book</button>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
